<fieldset id="game-choose">
  <legend><%=__('game-interface.legend')%></legend>
  <select id="game-selection">
    <option value=""><%=__('game-interface.empty-selection')%></option>
    <% games.forEach(function(game){ %>
      <option value="<%= game.name %>"><%=game.label%></option>
    <% }) %>
  </select>
  <button id="game-starter"><%= __('game-interface.buttons.start') %></button>
  <button id="game-ender"><%= __('game-interface.buttons.leave') %></button>
</fieldset>
<% games.forEach(function(game){ %>
  <%- game.output() %>
<% }) %>
<%- bets.winningsInterface() %>
