<header>
  <div id="lang">
    <% i18n.options.supportedLngs.forEach(function(lng){%>
      <a href="#" class="lng-change" data-lng="<%=lng%>"><img src="img/<%=lng%>.png" /></a>
    <% }) %>
  </div>
  <h1 id="page-title"><%- __('casino.name')  %></h1>
  <h2><%- __('casino.tagline') %></h2>
</header>
<section id="output" class="no-js">
</section>
<footer>
  <p><%- __('casino.byline', 'Tyler Waters') %></p>
</footer>
